.navbar{
    margin-top:8px;
}
.navbar-toggler{
    margin:0 auto;
}

.navbar-toggler-icon{
    font-size:25px;
    border:none;
    color:#000000;
}

.navbar a {
    font-family:'Futura';
    font-weight:bold;
    text-transform:uppercase;
    color:black;
}

.nav-item{
    line-height:6px;
}
.dropdown-item{
    font-size:13px;
    line-height: 10px;
}

h1{
    font-family:'Futura';
    font-weight:bold;
    text-align:center;
    text-transform: uppercase; 
    margin-bottom:20px;
}

.homeImage {
    max-width:350px;
    margin:0 auto;
}

p{
    font-family:'Futura';
    font-weight:lighter;
    font-size:10px;
    margin-left: 14px;
}

.fa-instagram{
    color:black;
    margin-left: 14px;
    margin-top:10px;
}
