:root {
  --primary-font: "Futura";
  --primary-color: #000000;
}

/*all navbar */
.navbar {
  margin-top: 8px;
}

.navbar-toggler {
  margin: 0 auto;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

.fa {
  border: none;
  color: var(--primary-color);
  font-size: 20px;
}

li {
  text-align: center;
}
.navbar a {
  color: var(--primary-color);
  font-family: var(--primary-font);
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 13px;
  text-transform: uppercase;
}

.dropdown-item {
  font-size: 13px;
}

.dropdown a {
  line-height: 20px;
  outline: none;
}

.dropdown a:hover {
  background: none;
}

/* heading & container */

h1 {
  color: var(--primary-color);
  font-family: var(--primary-font);
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}

.toHome {
  color: var(--primary-color);
  text-decoration: none;
}

.toHome:hover {
  color: var(--primary-color);
  opacity: 90%;
}

.homePage {
  margin: 0 auto;
  max-width: 400px;
}

/*image carousel */

.carousel-icon-left,
.carousel-icon-right {
  color: var(--primary-color);
  font-size: 20px;
  margin-top: -100px;
}

.carousel-icon-left {
  margin-left: 80px;
}
.carousel-icon-right {
  margin-right: 80px;
}

.portrait {
  display: block;
  margin: 0 auto;
  max-width: 500px;
}

.landscape {
  display: block;
  margin: 0 auto;
  max-width: 900px;
}

/*info */

.fa-instagram {
  color: var(--primary-color);
  margin-top: 25px;
  font-size: 15px;
}

.fa-instagram:hover {
  color: red;
  opacity: 30%;
  transition: ease-in-out;
}

p {
  font-family: var(--primary-font);
  font-size: 10px;
  font-weight: lighter;
  margin-top: 20px;
}

/* responsive */

@media (max-width: 600px) {
  .container {
    max-width: 350px;
  }
}

@media (min-width: 600px) {
  .fa {
    font-size: 25px;
  }

  h1 {
    font-size: 42px;
  }
  p {
    margin-top: 40px;
  }
  .fa-instagram {
    font-size: 20px;
  }
}
